<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>carGoo</title>
    
    <style>
        .container{
            text-align: center;
        }
        .holder {
        display: inline;
        }
        .holder img {
        max-height: 250px;
        max-width: 250px;
        object-fit: cover;
        }
        .holder1 {
        display: inline;
        }
        .holder1 img {
        max-height: 250px;
        max-width: 250px;
        object-fit: cover;
        }
    </style>

    <!-- =============== Bootstrap Core CSS =============== -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.eski.css" type="text/css">
    <!-- =============== Google fonts =============== -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <!-- =============== Owl Carousel Assets =============== -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">
</head>

<body>
    <!-- =============== Preloader =============== -->
    <div id="preloader">
        <div id="loading">
        </div>
    </div>
    
    <!-- =============== nav =============== -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="holder" href="/"><img src="../static/img/cangoo.png" alt="Logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#features">How it works</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    <!--nav end-->
    <!-- =============== container-fluid =============== -->
    </nav>
    <!-- =============== header =============== -->
    <header>
		<!-- =============== container =============== -->
        <div class="container">
            <div class="header-content row">
                <div class=""></div>
                    
                    <a href="/login">
                        <div  data-wow-delay="1s"><i class="hbtn"></i> <h2 class="wow bounceIn animated" data-wow-delay=".40s">Login</h2> <i class=""></i>
                        </div>
                    </a>
                    </p>

                    <a href="/signUp"><div  data-wow-delay="1s"><i class="hbtn"></i><h2 class="wow bounceIn animated" data-wow-delay=".40s">Sign-up</h2> <i class=""></i>
                        </div>
                    </a>
                    </p>
                
                    
                        </div>
                    </p>
                </div>

            </div>
        </div>
		<!-- =============== container end =============== -->
    </header>
    <!-- =============== About =============== -->
    <section id="about" class="">
		<!-- =============== container =============== -->
        <div class="container">
            <span class="angle2"></span>
            <span class="angle"></span>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-3 wow fadeInLeft animated" data-wow-delay=".5s">
                    <h1 style="color:coral;"> How does </h1> 
                    <a class="holder1" href="#"><img src="../static/img/cangooYesil.png" alt="Logo"></a>
                    <h1 style="color:coral;"> work? </h1>       
                  </div>
                  <div class="col-xs-12 col-sm-7 col-md-9 wow fadeInRight animated" data-wow-delay=".5s">
                  <h2>Less Carbon, More CarGoo</h2>
                  <p>An application that provides greencoin for cars by encouraging individuals to carry cargo on the route they will go. High amount of carbon dioxide created by cargo companies through large distribution networks. </P>
                    <p></p>

                     <p>Another problem is that the cargo companies send the cargo delivered to them to the next day in order to fill their trucks. These reduce brand satisfaction by delaying customers' arrival of their cargo. Such problems cause loss of customers and profits.</p>

                    <p>We are a dynamic team that comes together with the mottos of sustainability and innovation. And now, in the light of these goals, we are an application that while providing greencoin to our drivers in exchange for carrying cargo on the route we have optimized.</p>     
					<p>Currently, at least 4 different vehicles are used in a cargo process. In return, we aim to encourage environmentally friendly electric vehicle transportation. We include electric vehicle owners as drivers in our system with the opportunities we offer.</p>
                  </div>     
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>
    <!-- =============== how it works =============== -->
    <section id="features" class="parallax">
	<!-- =============== container =============== -->
    <div class="container">
     <span class="angle2"></span>
    <span class="angle"></span>
     <div class="row">

       <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding">
           <h2>Improve <span>at features</span></h2>
           
       </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
         <div class="row">     
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInLeft animated textright" data-wow-delay=".5s">
            <h3>IOS </h3>
              <p>Thanks to our technology that is advancing day by day, we will soon be able to offer our customers the privilege of using the IOS app.</p>     
          </div>
            <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInRight animated" data-wow-delay=".5s">
                <i class="fa fa-apple iconfont"></i>
          </div>    
        </div>
        <div class="row"> 
         <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInLeft animated textright" data-wow-delay=".6s">
            <h3>Improve Algorithm</h3>
              <p>With the optimization provided by our application, we create the best route for our users. It offers the fastest and most affordable means of transportation.</p>     
          </div>
            <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInRight animated" data-wow-delay=".6s">
                <i class="fa fa-rocket iconfont"></i>
          </div>     
        </div>
        <div class="row">            
         <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInLeft animated textright" data-wow-delay=".7s">
            <h3>Targer User</h3>
              <p style="margin-bottom: 50px;">Our customers earn green money that they can spend whenever and wherever they want in exchange for cargo transportation.</p>     
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInRight animated" data-wow-delay=".7s">
            <i class="fa fa-users iconfont2"></i>
          </div>         
           
        </div>        
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated textcenter" data-wow-delay=".4s">
       <img src="../static/img/slide-bg.png" alt="slide-bg" />
      </div>  
         
      <div class="col-xs-12 col-sm-4 col-md-4">
         <div class="row">         
          <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInLeft animated" data-wow-delay=".5s">
                <i class="fa fa-android iconfont2"></i>
          </div>    
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInRight animated textleft" data-wow-delay=".5s">
            <h3>Android</h3>
              <p>In the coming days, we will provide our users with the opportunity to use the Android app with our technological infrastructure.</p>     
          </div>
           
        </div>
        <div class="row">    
        <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInLeft animated" data-wow-delay=".6s">
                <i class="fa fa-css3 iconfont2"></i>
          </div>          
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInRight animated textleft" data-wow-delay=".6s">
            <h3>Sustainability</h3>
              <p>We are reducing carbon dioxide production as we prevent more cargo trucks from being used.</p>     
          </div>
          
        </div>
        <div class="row" style="padding-bottom: 20%;">    
        <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInLeft animated" data-wow-delay=".7s">
          </div>          
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInRight animated textleft" data-wow-delay=".7s" >
          </div>
           
        </div>        
      </div>
    </div>
    </div>   
	<!-- =============== container end =============== -->	
    </section>
    

    <!-- =============== contact us =============== -->
    <section id="contact">
	<!-- =============== container =============== -->
		<div class="container">
			    <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding" data-wow-delay=".1s">
                   <h2>Contact <span>Us</span></h2>
                   <p>We are a dynamic team that comes together with the mottos of sustainability and innovation. And now, in the light of these goals, we are an application that while providing greencoin to our drivers in exchange for carrying cargo on the route we have optimized.</p>
               </div>


			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".1s">

					<form>
						<div class="ajax-hidden">
							<div class="form-group wow fadeInUp animated">
								<label for="c_name" class="sr-only">Name</label>
								<input type="text" placeholder="Name" name="c_name" class="form-control" id="c_name">
							</div>

							<div data-wow-delay=".1s" class="form-group wow fadeInUp animated">
								<label for="c_email" class="sr-only">Email</label>
								<input type="email" placeholder="E-mail" name="c_email" class="form-control" id="c_email">
							</div>

							<div data-wow-delay=".2s" class="form-group wow fadeInUp animated">
								<textarea placeholder="Message" rows="7" name="c_message" id="c_message" class="form-control"></textarea>
							</div>

							<button data-wow-delay=".3s" class="btn btn-sm btn-block wow fadeInUp animated" type="submit">Send Message</button>
						</div>
						<div class="ajax-response"></div>
					</form>

				</div>
                <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated map" data-wow-delay=".5s">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.7549484227957!2d27.30013995100485!3d38.67749947950512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b98468a5bb0081%3A0x6c639130b682e415!2sManisa%20Celal%20Bayar%20%C3%9Cniversitesi%20M%C3%BChendislik%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1670534919382!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

				</div>
                 <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated" data-wow-delay=".6s">

					  <section id="text-15" class="widget widget_text">
                         <h3 class="widget-title">Muradiye/Manisa</h3> <div class="textwidget">Mühendislik Fakültesi C Blok 2.Kat C208<br>
                        <p>
                        Mobile: +90 (530) 786 3825<br>
                        E-mail: <a href="#">biz.mefutures@biz.mefutures</a></p>
                        <a href="#">Get directions on the map</a> →</div>
                    </section>

				</div>                
			</div>
		</div><!-- =============== container end =============== -->
	</section>
    
    <!-- Footer -->
    <footer id="footer">
	<!-- =============== container =============== -->
    <div class="container">
			    <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">

                    <p class="copyright">
                        &copy; Manisa Celal Bayar Üniversitesi
					</p>

				</div>
			</div>
    </div><!-- =============== container end =============== -->
	</footer>
    <!-- =============== jQuery =============== -->
    <script src="../static/js/jquery.js"></script>
    <!-- =============== Bootstrap Core JavaScript =============== -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- =============== Plugin JavaScript =============== -->
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/jquery.fittext.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <!-- =============== Custom Theme JavaScript =============== -->
    <script src="../static/js/creative.js"></script>
    <!-- =============== owl carousel =============== -->
    <script src="../static/owl-carousel/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                autoPlay: 3000,
                items: 3,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });

        });
    </script>
</body>
</html>